<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice</title>
</head>
<body>
    <h1>Notice</h1>
    <form action = '/addNotice' method = 'POST'>
        <table>
            <tr>
                <td>title : <input type = 'text' name = 'title'></td>
            </tr>
            <tr>
                <td><textarea name = 'content' cols = "50" rows = "50"></textarea></td>
            </tr>
            <tr>
                <td><input type = 'submit' value = '작성'></td>
            </tr>
        </table>
    </form>
</body>
</html>