<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Main Page</h3>
    <a href="login">로그인</a><br>
    <a href="register">회원가입(미구현)</a><br>
    <a href="upload">사진 업로드</a><br>
    <a href="display">최근사진</a><br>
    <a href = "gallery">모든사진</a><br>
</body>

</html>