<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show List</title>
</head>

<body>
    <h1>Show List</h1>
    <% for (var i=0; i < data.length; i++) {%>
        <fieldset>
            글 번호 : <%= data[i].n_seq %><br>
            제목 : <a href="/showNotice/<%=data[i].n_seq%>"><%=data[i].title%></a>
        </fieldset>
    <% } %><br>
    <a href="/">메인</a>
</body>

</html>