<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Notice</title>
</head>

<body>
    <h1>Show Notice</h1>
    <fieldset>
        제목 : <%= title %><br>
        내용 : <%= content %>
    </fieldset><br>
    <a href="/">메인</a>
</body>

</html>